@import "../../../../theme/sass/conf/conf";

.btn-custom {
  min-height: 32px;
  min-width: 80px;
  font-family: "微軟正黑體";
  font-weight: bold;
  
  &:hover{
    transform: none;
  }

  &.btn-primary-normal {
    border-color: #2bb2a2;
    border-radius: 2px;
    background-color: #2bb2a2;
    color: white;

    &:hover{
      background-color: #22c6ae;
    }
  }

  &.btn-outline-normal{
    border-color: #209e91;
    background-color: white;
    color: #209e91;

    &:hover{
        background-color: #22c6ae;
        color: white;
    }
  }
}

.tab-button{
    width: 140px;
    margin-top:6px;
    height: 38px;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;

    &.tab-focuson{

        border-top:4px solid #5bc9bc;
        border-bottom: 0;
        height: auto;
        margin-top: 0;
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    > p{
        padding-top: 10px
    }
}

.prompt{

  margin-bottom: 0px;

  >.card-body {
    background-color:	rgba(255, 170, 170, 0.5);

    label{
      color: rgba(190, 0, 51,1);
      font-weight: bolder;
      font-size: 20px;
      padding-top: 10px;
    }
  }
}

label.markLabel {
    margin-top: 7px;
    color: #cccccc;
    text-align: right;
}

.row.userMetadata-row{
    margin: 0;
    padding-bottom: 7px;
}

