<!--停用提示區塊-->
<div class="row" *ngIf="promptText != ''" style="margin-bottom: 24px;">
    <div class="col-md-12">
        <div style="border: 1px #FFAA99 solid;">
            <ba-card baCardClass="prompt">
                <label>{{ promptText }}</label>
            </ba-card>
        </div>
    </div>
</div>
<div baCardBlur class="animated fadeIn card with-scroll-userAuthEdit" zoom-in>
    <div class="card-header card-header-m" >
            <h3  class="card-title">
                <p>
                    <span class="link-t1" (click)="goback('roleEdit')">角色分类</span> <b class="ion-ios-arrow-right"></b>
                    <span class="link-t1" (click)="goback('roleCatalogEdit')">{{catalog.name}}</span> <b class="ion-ios-arrow-right"></b> {{role.name}}</p>
            </h3>
            <div class="float-right">
                <button class="btn btn-custom btn-primary-normal" (click)="openCopyRoleModal()">复制到</button>
                <button class="btn btn-custom btn-primary-danger" (click)="disabledRoleForSure()">停用</button>
                <button [disabled]="!role.name" class="btn btn-custom " [ngClass]="!!role.name?'btn-primary-normal':'btn-primary-basic'"
                    (click)="updatRole()">储存</button>
            </div>
       
    </div>
    <div class="card-header" style="height: 90px">
        <div class="row">
            <div style="text-align:left;" class="title col-md-3">
                <p>
                    <span style="color:#e54c4c">*</span>角色分类</p>
                <span>{{catalog.name}}({{catalog.id}})</span>
            </div>
            <div style="text-align:left;" class="title col-md-6">
                <p>
                    <span style="color:#e54c4c">*</span>角色名称</p>
                <span>
                    <input type="text" class="form-control" style="width:30%;display:inline" [(ngModel)]="role.name"> ({{role.id}})</span>
            </div>
            <div class="title col-md-3"></div>
        </div>

    </div>
    <!-- <div class="card-header" style="height: 50px;">
             
        </div>    -->
    <div class="card-body table-query ">
        <div class="row" style="padding-bottom:10px">
            <div style="text-align:left;top:10px;position:relative" class="col-sm-6 col-md-6 col-lg-6">
                <h3 class="card-title">用户清单</h3>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row float-right">
                    <button class="btn btn-custom btn-outline-normal" style="margin-right: 18px; " (click)="goToAdvance()">进阶编辑
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="table-title table-title-m2">
                        <th class="table-id id">用户ID</th>
                        <th class="content">用户名称</th>
                        <th class="fillup">删除</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList" class="table-body">
                        <td class="id"> {{user.id}} </td>
                        <td class="content"> {{user.name}} </td>
                        <td class="fillup">
                            <button class="btn btn-default btn-icon" style="border:none" type="button" (click)="removeSelectedUser(user)">
                                <i class="ion-android-close"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div style="float: right;margin-top:10px;" *ngIf="false">
                <div class="btn-group" data-toggle="buttons">
                    <button type="button" class="btn btn-default" (click)="changePage('1', 0)">
                        <i class="fa fa-fast-backward"></i>
                    </button>
                    <button type="button" class="btn btn-default" (click)="changePage(nowPage, -1)">
                        <i class="ion-chevron-left"></i>
                    </button>
                    <label class="btn btn-query" style="padding: 5px 0 4px 0;width: 35px;border-right: none;margin-bottom: 0;">
                        <input style="margin-left:5px;width:30px;border:none;text-align: center;" type="text" [(ngModel)]="nowPage" (focusout)="onFocusOut($event)"
                            (keyup)="onKeyUp($event)">
                    </label>
                    <label class="btn btn-query slice" style="padding: 6px 0px 5px 0;text-align: center;width: 20px;margin-bottom: 0;">
                        /
                    </label>
                    <label class="btn btn-query final" style="padding: 6px 10px 5px 0;text-align: center;width: 35px;margin-bottom: 0;">
                        {{pageCount}}
                    </label>
                    <button type="button" class="btn btn-default" (click)="changePage(nowPage, 1)">
                        <i class="ion-chevron-right"></i>
                    </button>
                    <button type="button" class="btn btn-default" (click)="changePage(pageCount, 0)">
                        <i class="fa fa-fast-forward"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<ng-template #msgModal let-c="close" let-d="dismiss">
  <div class="popup-box-m">  
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">停用角色</span>
    </div>
    <!-- <div style="background-color:#cccccc;height:1px;width:100%">&nbsp;</div> -->
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12 txt-bold" *ngIf="!userList.length">
                    <p>是否确定停用此角色？</p>
                </div>
                <div class="col-md-12 txt-bold" *ngIf="userList.length">
                    <p>此角色下还有其它用户，确定要停用吗？</p>
                    <p style="color:#e54c4c">按下确定钮後，将会清除此角色下所有用户！</p>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-danger" (click)="c('Close click')">取消</button>
        <button class="btn btn-custom btn-primary-normal" (click)="disabledRole()">确定</button>
    </div>
  </div>
</ng-template>

<!--复制角色開窗-->
<ng-template #CopyRoleModal let-c="close" let-d="dismiss">
  <div class="popup-box-m">
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">复制角色</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
                <span aria-hidden="true">&times;</span>
            </button>        
    </div>
    <!-- <div style="background-color:#cccccc;height:1px;width:100%;margin:5px 0 5px 0">&nbsp;</div> -->
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>
                        <span style="color:#e54c4c">*</span>角色分类</label>
                        <select class="form-control custom" [ngClass]="{unSelected: selectedcCatalog == ''}" [(ngModel)]="selectedcCatalog" (ngModelChange)="catalogSelected($event)">
                                <option *ngIf="selectedcCatalog == ''" value="">請選擇角色分类</option>    
                                <option *ngFor="let catalog of roleCatalogList" [value]="catalog.id" > {{catalog.name}} ({{ catalog.id }})</option>
                        </select>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>
                        <span style="color:#e54c4c">*</span>角色ID</label>
                        <input type="text" class="form-control" [(ngModel)]="addRoleId" placeholder="请输入角色ID" >
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>
                        <span style="color:#e54c4c">*</span>角色名称</label>
                        <input type="text" class="form-control" [(ngModel)]="addRoleName" placeholder="请输入角色名称" >
                    </div>
            </div>
        </div>
        <!-- <div style="background-color:#cccccc;height:1px;width:100%;margin:5px 0 5px 0">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <label style="color:#e54c4c">
                    *复制角色到以下分类
                </label>
            </div>
            <div class="col-md-12">
                <select class="form-control custom" [ngClass]="{unSelected: selectedcCatalog == ''}" [(ngModel)]="selectedcCatalog" (ngModelChange)="catalogSelected($event)">
                        <option *ngIf="selectedcCatalog == ''" value="">請選擇角色分类</option>    
                        <option *ngFor="let catalog of roleCatalogList" [value]="catalog.id" > {{catalog.name}} ({{ catalog.id }})</option>
                </select>
            </div>
        </div>
        <div style="background-color:#cccccc;height:1px;width:100%;margin:10px 0 0 0">&nbsp;</div> -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-danger" (click)="c('Close click')">取消</button>
        <button class="btn btn-custom " [ngClass]="(selectedcCatalog!=''&&addRoleId!=''&&addRoleName!='')?'btn-primary-normal':'btn-primary-basic'"
        [disabled]="(selectedcCatalog==''||addRoleId==''||addRoleName=='')" (click)="(selectedcCatalog!=''&&addRoleId!=''&&addRoleName!='')&&copyRole()">确定</button>
    </div>
  </div>
</ng-template>