<div>
    <div>
        <span style="margin:0;font-size:16px;padding-top:15px;">專案介紹：管理公司售出的系統的授權管理系統。</span>
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">登入頁</p>
        <img src="./assets/img/projectAlbum/CAC/login.PNG" style="width:80%;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊查詢頁</p>
        <img src="./assets/img/projectAlbum/CAC/purchaseQuery.PNG" style="width:80%;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊查詢結果頁</p>
        <img src="./assets/img/projectAlbum/CAC/purchaseList.PNG" style="width:80%;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊內容頁</p>
        <img src="./assets/img/projectAlbum/CAC/purchase.PNG" style="width:80%;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊編輯頁 - 1</p>
        <img src="./assets/img/projectAlbum/CAC/pattern-1.PNG" style="width:80%;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊編輯頁 - 2</p>
        <img src="./assets/img/projectAlbum/CAC/pattern-2.PNG" style="width:80%;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊編輯頁 - 3</p>
        <img src="./assets/img/projectAlbum/CAC/pattern-3.PNG" style="width:80%;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">客戶資訊頁</p>
        <img src="./assets/img/projectAlbum/CAC/customer.PNG" style="width:80%;">
    </div>
</div>

