@import "../../../../theme/sass/conf/conf";
.btn {
    &:hover {
        transform: none;
    }
}


.btn-custom {
  margin-right: 5px;
  &.btn-normal {
    border-color: #31aa9b;
    background: transparent;
    color: #31aa9b;
  }
}

button.btn.btn-default.btn-icon {
  &:active, &:target {
    background-color: transparent;
  }
}

label.btn-query {

  cursor:default;
  border-top: 1px solid rgb(214, 214, 214);
  border-bottom: 1px solid rgb(214, 214, 214);

  &.slice{
    border-left: none;
    border-right: none;
  }

  &.final{
    border-left: none;
  }

  &:hover{

    background-color: rgba(255,255,255,0);;
    border-color: rgb(214, 214, 214);
    color:inherit;
  }
}