<div>
    <div>
        <span style="margin:0;font-size:16px;padding-top:15px;">專案介紹：有使用我們APP開發樣板的公司內部成員，可以透過此系統將其運行中的專案，打包成APP並且提供下載做測試。</span>
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">登入頁</p>
        <img src="/assets/img/projectAlbum/AppFoundry/login.PNG" style="width:1000PX;">
    </div>

    

    <div style="padding-top:40px;">
        <p style="font-size:16px;">註冊頁</p>
        <img src="/assets/img/projectAlbum/AppFoundry/register.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">列表頁</p>
        <img src="/assets/img/projectAlbum/AppFoundry/list.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">專案資訊頁</p>
        <img src="/assets/img/projectAlbum/AppFoundry/project.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">新增專案成員頁</p>
        <img src="/assets/img/projectAlbum/AppFoundry/addMember.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">建置狀態頁</p>
        <img src="/assets/img/projectAlbum/AppFoundry/buildStatus.PNG" style="width:1000PX;">
    </div>
</div>

