<div class="row" *ngIf="pageStatus == 'normal' || pageStatus == 'editted'">

    <div class="col-md-12">
        <ba-card title="已归户清单">
            <div class="row">
                <div class="col-md-12">

                    <p style="margin-bottom: 30px;">用户：{{ userData.name }} ({{userData.id}})</p>

                    <h3 class="danger-message" *ngIf="!isMapping">尚未归户</h3>
                    
                    <div class="table-responsive" *ngIf="isMapping">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="table-id" style="border-top: 2px solid #cccccc;border-bottom: 1px solid #aaaaaa;">选取</th>
                                    <th style="border-top: 2px solid #cccccc;border-bottom: 1px solid #aaaaaa;">应用系统别</th>
                                    <th style="border-top: 2px solid #cccccc;border-bottom: 1px solid #aaaaaa;">应用系统ID</th>
                                    <th style="border-top: 2px solid #cccccc;border-bottom: 1px solid #aaaaaa;">应用系统名称</th>
                                    <th style="border-top: 2px solid #cccccc;border-bottom: 1px solid #aaaaaa;">对应识别帐号帐号</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of mappingData">
                                    <td>
                                        <label class="radio-inline custom-radio usermapping">
                                            <input type="radio" [checked]="item.checked" (click)="chooseMappingInfo(item.checked, item)" [disabled]="pageStatus == 'normal'">
                                            <span style="top:3px;"></span>
                                        </label>
                                    </td>
                                    <td>{{item.sysCategoryId}}</td>
                                    <td>{{item.sysId}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.verifyUserId}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ba-card>
    </div>
    
</div>

<div class="row" *ngIf="pageStatus == 'dataEditting'">

    <div class="col-md-6">
        <ba-card title="已归户清单">

            <p style="margin-bottom: 30px;">用户：{{ userData.name }} ({{userData.id}})</p>

            <h3 class="danger-message" *ngIf="!isMapping">尚未归户</h3>
            
            <div class="table-responsive" *ngIf="isMapping">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-id" style="border-top: 2px solid #cccccc;border-bottom: 1px solid #aaaaaa;">选取</th>
                            <th style="border-top: 2px solid #cccccc;border-bottom: 1px solid #aaaaaa;">应用系统别</th>
                            <th style="border-top: 2px solid #cccccc;border-bottom: 1px solid #aaaaaa;">对应识别帐号帐号</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mappingData">
                            <td>
                                <label class="radio-inline custom-radio usermapping">
                                    <input type="radio" [checked]="item.checked" (click)="chooseMappingInfo(item.checked, item)">
                                    <span style="top:3px;"></span>
                                </label>
                            </td>
                            <td>{{item.sysCategoryId}}</td>
                            <td>{{item.verifyUserId}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ba-card>
    </div>
    
    <div class="col-md-6">
        <ba-card title="设定资讯">
            <p style="margin-bottom: 30px;">应用系统：{{selectedMappingData.name}} ({{selectedMappingData.sysId}}) </p>

            <div class="form-group">
                <label class="form-control-label">对应识别帐号</label>
                <input type="text" class="form-control" name="mappingAccount" [(ngModel)]="mappingAccount">
            </div>
            <div class="form-group">
                <label class="form-control-label">对应识别密码</label>
                <input type="password" class="form-control" name="mappingPsw" [(ngModel)]="mappingPsw">
            </div>
        </ba-card>
    </div>

</div>

<!--驗證錯誤視窗-->
<!-- <div bsModal #VerifyErrorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title pull-left" style="font-size: 18px;">识别帐号验证</span>
                <button type="button" class="close pull-right" aria-label="Close" (click)="VerifyErrorModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: #e85656;font-size: 20px;">{{errorContext.errorType}}</p>
                <p style="font-size: 16px;">{{errorContext.errorMessage}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="errorModalCancel()">取消</button>
                <button class="btn btn-primary" (click)="errorModalConfirm()" [disabled]="modalConfirmStatus">{{ modalConfirmText }}</button>
            </div>
        </div>
    </div>
</div> -->

<ng-template #VerifyErrorModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">识别帐号验证</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p style="color: #e85656;font-size: 20px;">{{errorContext.errorType}}</p>
        <p style="font-size: 16px;">{{errorContext.errorMessage}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" (click)="c('Close click')">取消</button>
        <button class="btn btn-primary" (click)="errorModalConfirm()" [disabled]="modalConfirmStatus">{{ modalConfirmText }}</button>
    </div>
</ng-template>