<ba-card>
    <div class="row">
        <div class="col-md-3">
            <label>用戶ID</label>
            <input type="text" class="form-control" [(ngModel)]="userId" placeholder="输入关键字">
        </div>
        <div class="col-md-3">
            <label>用戶名称</label>
            <input type="text" class="form-control" [(ngModel)]="userName" placeholder="输入关键字">
        </div>
        <div class="col-md-6">
            <button style="margin-top: 24px;" [disabled]="searchButtonStatus" (click)="searchData()" class="btn btn-custom btn-outline-normal">{{ searchButtonText }}</button>
        </div>
    </div>
</ba-card>

<div class="animated fadeIn card with-scroll-userQuery" style="margin-bottom: 0;">
    <div class="card-header clearfix" style="height: 50px;border: 0;">
        <h3 class="card-title" style="margin-top: 3px;"> 查询结果 </h3>
    </div>

    <div class="card-body table-query">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="table-title">
                        <th class="table-id id">用户ID</th>
                        <th class="content">用戶名称</th>
                        <th class="fillup" style="width:100%;text-align:right;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList" class="table-body">
                        <td class="id"> {{user.id}} </td>
                        <td class="content"> {{user.name}} </td>
                        <td style="width:100%;text-align:right;" class="fillup">
                            <button class="btn btn-custom btn-outline-normal" (click)="editUserAuth(user)">编辑</button>
                        </td>                       
                    </tr>
                </tbody>
            </table>

            <div style="float: right;margin-top:10px;" *ngIf="userList.length != 0">
                <div class="btn-group" data-toggle="buttons">
                    <button type="button" class="btn btn-default" (click)="changePage('1', 0)" >
                        <i class="fa fa-fast-backward"></i>    
                    </button>
                    <button type="button" class="btn btn-default" (click)="changePage(nowPage, -1)">
                        <i class="ion-chevron-left"></i>
                    </button>
                    <label class="btn btn-query" style="padding: 5px 0 4px 0;width: 35px;border-right: none;margin-bottom: 0;">
                        <input style="margin-left:5px;width:30px;border:none;text-align: center;" type="text" [(ngModel)]="nowPage" (focusout)="onFocusOut($event)" (keyup)="onKeyUp($event)"> 
                    </label>
                    <label class="btn btn-query slice" style="padding: 6px 0px 5px 0;text-align: center;width: 20px;margin-bottom: 0;">
                        / 
                    </label>
                    <label class="btn btn-query final" style="padding: 6px 10px 5px 0;text-align: center;width: 35px;margin-bottom: 0;">
                        {{pageCount}} 
                    </label>
                    <button type="button" class="btn btn-default" (click)="changePage(nowPage, 1)">
                        <i class="ion-chevron-right"></i>    
                    </button>
                    <button type="button" class="btn btn-default" (click)="changePage(pageCount, 0)">
                        <i class="fa fa-fast-forward"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>