<div *ngIf="tabInfo.isFocus">
    <div *ngIf="!editStatus">
        <div style="padding-top:3px;padding-bottom:15px;text-align:right;">
            <button class="btn btn-custom btn-outline-normal" (click)="editUserInOrgList()">进阶编辑</button>
        </div>

        <div class="table-responsive table-userInOrg">
            <table class="table">
                <thead>
                    <tr class="table-title">
                        <th class="table-id id" style="width:85%">组织名称(ID)</th>
                        <th class="content" style="width:100%;text-align:left;padding-left:15px;">组织型态</th>
                        <th class="fillup" style="width:100%;text-align:right;padding-left:15px;">预设组织</th>
                        <th class="fillup" style="width:100%;text-align:center;">顺序</th>
                        <th class="fillup" style="width:100%;text-align:left;">删除</th>                            
                    </tr>
                </thead>
                <tbody *ngFor="let org of sourceUserInOrgList">
                    <tr class="table-body">
                        <td class="id"> 
                            <p class="orgname" style="margin:0;">{{org.name}}({{org.orgLabel}})</p>
                            <p class="urn" style="margin:0;padding-left:15px;">{{org.orgUrn}}</p>
                        </td>
                        <td style="width:100%;text-align:left;" class="content">
                            {{org.orgType}}
                        </td>
                        <td style="width:100%;text-align:left;padding-top:10px;" class="fillup">
                            <label class="switch">
                                <input type="checkbox" [(ngModel)]="org.isDefault" (click)="checkedDefaultType(org)">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td style="text-align:right;min-width:82px;" class="fillup" >
                            <button class="btn btn-default btn-icon" type="button" [disabled]="org.priority == 0" (click)="priorityOnChange('up', org)" style="border:none;padding: 5px 5px 5px 0;">
                                <i class="ion-android-arrow-up"></i>
                            </button>
                            <button class="btn btn-default btn-icon" type="button" [disabled]="org.priority == sourceUserInOrgList.length-1" (click)="priorityOnChange('down', org)" style="border:none;padding: 5px 5px 5px 0;">
                                <i class="ion-android-arrow-down"></i>
                            </button>
                        </td>
                        <td style="width:100%;text-align:center;" class="fillup">
                            <button class="btn btn-default btn-icon" type="button" (click)="removeUserInOrgData(org)" style="border:none;padding:0;">
                                <i class="ion-android-close"></i>
                            </button>
                        </td>                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="editStatus">

        <div style="padding-top:3px;padding-bottom:15px;text-align:right;">
            <button class="btn btn-custom btn-outline-normal" (click)="previewModalOpen()">预览</button>
            <button class="btn btn-custom btn-outline-normal" (click)="updateToSource()">更新</button>
        </div>


        <div class="row">
            <div class="col-md-6">
                <select class="form-control" [ngModel]="selectedOrgCatalog" (ngModelChange)="selectOrgCatalog($event)">
                    <option *ngFor="let orgCatalog of orgCatalogList" [value]="orgCatalog.id"> {{orgCatalog.name}} ({{ orgCatalog.id }})</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-control" [ngModel]="selectedOrgAspect" (ngModelChange)="selectOrgAspect($event)">
                    <option *ngFor="let orgAspect of orgAspectList" [value]="orgAspect.id"> {{orgAspect.name}} ({{ orgAspect.id }}) </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="table-responsive table-userInOrg">
                    <table class="table">
                        <thead>
                            <tr class="table-title">
                                <th class="table-id id" style="width:85%">组织名称(ID)</th>
                                <th class="fillup" style="width:100%;text-align:right;padding-left:15px;">组织型态</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <orgTree 
                    *ngFor="let item of orgTreeData" 
                    [menuItem]="item" 
                    [editStatus]="'multiple'" 
                    [isRoot]="true"
                    [withBorderBottom]="'with-borderBottom'"
                    [mainTree]="orgTreeData"
                    (childNotification) = "orgTreeGetNotify($event)">
                </orgTree>
            </div>
        </div>
    </div>
</div>



<!--預覽開窗-->
<ng-template #PreviewModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">隶属组织预览</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive table-userInOrg">
            <table class="table">
                <thead>
                    <tr class="table-title" style="display: block;">
                        <th class="table-id id" style="width:353px;">组织名称(ID)</th>
                        <th class="content" style="text-align:left;padding-left:15px;">组织型态</th>
                    </tr>
                </thead>
                <tbody style="display: block;overflow-y: scroll;max-height: 350px;width: 100%;">
                    <tr class="table-body" *ngFor="let org of userInOrgList" style="display: table-row">
                        <td class="id" style="width:360px;"> 
                            <p class="orgname" style="margin:0;">{{org.name}}({{org.orgLabel}})</p>
                            <p class="urn" style="margin:0;padding-left:15px;">{{org.orgUrn}}</p>
                        </td>
                        <td style="text-align:left;width: 108px;" class="content">
                            {{org.orgType}}
                        </td>                      
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-normal" (click)="c('Close click')">确定</button>
    </div>
</ng-template>