.table-userInOrg{
    
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    .table-title{
        min-height: 34px;
        background-color: #f9f9f9;
        margin: 0;
        border-bottom: 1px solid #999999;
        border-top: 1px solid #999999;
        font-family: 'Source Sans Pro', sans-serif, "微軟正黑體";
        color: black;
        font-weight: bold;

        .id{
            padding: 8px 0 8px 25px;
            text-align: left;
            border: none;
            font-size: 14px;            

            p.orgname{
                color: #333333;
                font-weight: bold;
            }

            p.urn{
                color: #999999;
            }
        }
        .content{
            padding: 8px 0 8px 15px;
            border: none;
        }
        .fillup{
            padding: 8px 22px 8px 25px;
            text-align: right;
            border-bottom: 1px solid #999999;
            border-top: 1px solid #999999;
        }
    }

    .table-body{
        min-height: 40px;
        margin: 0;
        border-bottom: 1px solid #e5e5e5;

        .id{
            padding: 5px 0 5px 25px;
            text-align: left;
            border: none;
        }

        .content{
            padding: 5px 0 5px 15px;
            text-align: left;
            border: none;
        }

        .fillup{
            padding: 5px 22px 5px 15px;
            text-align: right;
            border: none;
        }
    }
}

.btn{
    &:hover{
        transform: none;
    }
}

.btn-custom {
    min-height: 32px;
    min-width: 80px;
    font-family: "微軟正黑體";
    font-weight: bold;
    
    &:hover{
      transform: none;
    }
  
    &.btn-primary-normal {
      border-color: #2bb2a2;
      border-radius: 2px;
      background-color: #2bb2a2;
      color: white;
  
      &:hover{
        background-color: #22c6ae;
      }
    }
  
    &.btn-outline-normal{
      border-color: #209e91;
      background-color: white;
      color: #209e91;
  
      &:hover{
          background-color: #22c6ae;
          color: white;
      }
    }

    &.btn-primary-danger{
        border-color: #e95e5e;
        background-color: #e95e5e;
        font-size: 14px;
        color:white;
        margin: 0;

        &:hover{
            
            background-color: #f76f6f;
        }
    }

    &.btn-outline-normal{

        &:disabled{
            border-color: #cccccc;
            color:#cccccc;
        }
    }

    &.btn-primary-custom, &.btn-primary-danger{

        &:disabled{
            border-color: #cccccc;
            background-color: #cccccc;
            color:#cccccc;
        }
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 18px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5bc9bc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5bc9bc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}