@import "../../../../../../../../theme/sass/conf/conf";

.btn{
    &:hover{
        transform: none;
    }
}

.btn-custom {
    min-height: 32px;
    min-width: 80px;
    font-family: "微軟正黑體";
    font-weight: bold;
    
    &:hover{
      transform: none;
    }
  
    &.btn-primary-normal {
      border-color: #2bb2a2;
      border-radius: 2px;
      background-color: #2bb2a2;
      color: white;
  
      &:hover{
        background-color: #22c6ae;
      }
    }
  
    &.btn-outline-normal{
      border-color: #209e91;
      background-color: white;
      color: #209e91;
  
      &:hover{
          background-color: #22c6ae;
          color: white;
      }
    }

    &.btn-outline-alert{
        border-color: #e54c4c;
        background-color: white;
        color:#e54c4c;
    
        &:hover{
            
            background-color: #ef7878;
            color: white;
        }
    }

    &.btn-primary-danger{
        border-color: #e95e5e;
        background-color: #e95e5e;
        font-size: 14px;
        color:white;
        margin: 0;

        &:hover{
            
            background-color: #f76f6f;
        }
    }

    &.btn-outline-normal{

        &:disabled{
            border-color: #cccccc;
            color:#cccccc;
        }
    }

    &.btn-primary-custom, &.btn-primary-danger{

        &:disabled{
            border-color: #cccccc;
            background-color: #cccccc;
            color:#cccccc;
        }
    }
}


.resultList{
    
    &.allow{
        padding-top: 20px;

        .title{
            display: inline-flex;
            justify-content: space-between;
            height: 40px;
            width: 100%;
            background-color: #76c6bb;
    
            div>p.titleText{
                margin: 0;
                color: white;
                font-size: 16px;
                padding: 13px;
            }
        }
    
        .listContent{
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            width: 100%;
            border-bottom: 1px solid #cccccc;
    
            div{
                .action-name{
                    font-family: '微軟正黑體';
                    font-size: 14px;
                    color: #333333
                }
    
                .action-urn{
                    padding-left: 14px;
                    font-family: '微軟正黑體';
                    font-size: 14px;
                    color: #666666
                }
            }
        }
    }

    &.deny{
        padding-top: 20px;

        .title{
            display: inline-flex;
            justify-content: space-between;
            height: 40px;
            width: 100%;
            background-color: #EA7A7A;
    
            div>p.titleText{
                font-family: '微軟正黑體';
                margin: 0;
                color: white;
                font-size: 16px;
                padding: 13px;
            }
        }
    
        .listContent{
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            width: 100%;
            border-bottom: 1px solid #cccccc;
    
            div{
                .action-name{
                    font-family: '微軟正黑體';
                    font-size: 14px;
                    color: #333333
                }
    
                .action-urn{
                    padding-left: 14px;
                    font-family: '微軟正黑體';
                    font-size: 14px;
                    color: #666666
                }
            }
        }
    }
}

.input-group.authData {
    width: 300px;
    margin: 0;
    padding-right: 5px;

    input{
        border-right: none;

        &:focus{

            +div{
                border-color: $primary;
                
            }
        }

        +div{
            transition: ease-in-out 0.15s;
        }
    }

    div.input-group-addon{
        background-color: white;
    }
}

.state-Nav{

    padding-top:20px;
    padding-bottom:15px;
    border-bottom: 1px solid #999999;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .title{
        p{
            padding-top: 8px;
            margin: 0;
            font-size: 16px;

            span{
                cursor: pointer;
                color:#038c78;
            }
        }
    }
}

select.form-control.authData-select{
    width: 110px;

    &.result{
        background-color: #62B7A6;
        color: white;
    }

    &.org{
        background-color: #DD8585;
        color: white;
    }

    &.role{
        background-color: #52AAC1;
        color: white;
    }

    &.user{
        background-color: #CC8A76;
        color: white;
    }

    &:not([multiple]) option{
        background-color: white;
    }
}