<div *ngIf="ViewButtonList[3].isActive">
    <div style="display: flex;justify-content: space-between;align-items:flex-end;height: 60px;">
        <div>
            <select class="form-control authData-select user" [ngModel]="selectedViewButton" (ngModelChange)="viewButtonSelect($event)">
                <option value="resultView">运算结果</option>
                <!-- <option value="orgView">行为</option> -->
                <option value="roleView">角色</option>
                <option value="userView">用户</option>
            </select>
        </div>
        <div>
            <button class="btn btn-custom btn-outline-normal" (click)="userDataPolicyEdit()">编辑</button>
        </div>
    </div>

    <div class="table-responsive table-authDataEdit">
        <table class="table">
            <thead>
                <tr class="table-title">
                    <th class="content" style="width: 100%;">隶属组织</th>
                    <th class="content">组织型态</th>
                    <th class="content">担任角色</th>
                    <th class="fillup">数据权限范围</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-body dataPolicyData" *ngFor="let org of userDatapolicyList">
                    <td class="content">
                        <p style="margin: 0"> {{org.name}} </p>
                        <p class="urn" style="margin: 0;padding-left: 14px;"> {{org.urn}} </p>
                    </td>
                    <td style="padding-top: 20px;min-width: 100px;" class="content"> {{org.orgTypeName}} </td>
                    <td style="padding-top: 20px;min-width: 120px;" class="content"> {{org.role}} </td>
                    <td style="padding-top: 20px;" class="fillup"> {{org.effectName}}</td>                       
                </tr>
            </tbody>
        </table>
    </div>
</div>