<ba-card title='管理员' [ngClass]="editMode == true ? 'col-md-6' : 'col-md-12'">
    <div class="card-header clearfix" style="height: 50px;border: 0;">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <h3 class="card-title" style="margin-top: 3px;">管理员角色</h3>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="row float-right">
                    <!--这里需要disable吗 -->
                    <!--<button [disabled]="searchButtonStatus" class="btn btn-custom btn-outline-normal"-->
                    <button class="btn btn-custom btn-outline-normal"
                            (click)="addRole()"
                            style="margin-right: 9px;">新增
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="card-body table-query">
        <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr class="table-title">
                    <th class="table-id id" style="min-width: 160px;">管理员角色 ID</th>
                    <th class="content">管理员角色名称</th>
                    <th class="fillup text-right"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let role of roles" class="table-body">
                    <td class="id"> {{role.id}}</td>
                    <td class="content"> {{role.name}}</td>
                    <td class="fillup text-right">
                        <button class="btn btn-custom btn-outline-normal" (click)="editRole(role)">编辑</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ba-card>

<!--移除用户状态开窗-->
<ng-template #addRoleModal let-c="close" let-d="dismiss">
    <div class="modal-header" style="border-bottom: solid 1px grey;">
        <span class="modal-title pull-left" style="font-size: 18px; margin-bottom: 15px">新增管理员角色</span>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label><span style="color:#e54c4c">*</span>管理员角色 ID</label>
                    <input type="text" class="form-control" [(ngModel)]="adminRoleID" maxlength="20" placeholder="输入管理员角色 ID">
                </div>
            </div>
            <div class="row" style="padding-top: 15px;">
                <div class="col-md-12">
                    <label><span style="color:#e54c4c">*</span>管理员角色名称</label>
                    <input type="text" class="form-control" [(ngModel)]="adminRoleName" maxlength="20" placeholder="管理员角色名称">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-danger" (click)="c('Close click')">取消</button>
        <button class="btn btn-custom btn-primary-normal" [disabled]="modalConfirmStatus || adminRoleID ==='' || adminRoleName === ''"
                (click)="addRoleModalConfirm()">{{modalConfirmText}}
        </button>
    </div>
</ng-template>

<!--停用用戶開窗-->
<!--<ng-template #addRoleModal let-c="close" let-d="dismiss">-->
<!--<div class="modal-header">-->
<!--<span class="modal-title pull-left" style="font-size: 18px;">停用用戶</span>-->
<!--<button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<div class="form-group">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<label><span style="color:#e54c4c">*</span>停用原因</label></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button class="btn btn-custom btn-primary-danger" (click)="c('Close click')">取消</button>-->
<!--<button class="btn btn-custom btn-primary-normal" >{{ modalConfirmText }}</button>-->
<!--</div>-->
<!--</ng-template>-->