<ba-card title='管理员' [ngClass]="editMode == true ? 'col-md-6' : 'col-md-12'">
    <div class="card-header clearfix" style="height: 104px;border: 0;">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <!--<h3 class="card-title" style="margin-top: 3px;">管理员角色</h3>-->
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a
                                    href="#/pages/systemManagement/administratorManagement/administratorEdit">管理员角色</a>
                            </li>
                            <li class="breadcrumb-item"><a
                                    href="javascript:void(0)" (click)="back()">{{roleName}}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">进阶编辑</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row float-right">
                    <!--这里需要disable吗 -->
                    <!--<button [disabled]="searchButtonStatus" class="btn btn-custom btn-outline-normal"-->
                    <button class="btn btn-custom btn-outline-normal"
                            (click)="preview()"
                            style="margin-right: 9px;">预览
                    </button>
                    <button class="btn btn-custom btn-outline-normal"
                            [disabled]="role.name === ''"
                            (click)="save()"
                            style="margin-right: 9px;">更新
                    </button>
                </div>
            </div>

        </div>
        <hr class="full-hr"/>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <h3 class="card-title" style="margin-top: 3px;">用户列表</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row float-right">
                    <!--这里需要disable吗 -->
                    <!--<button [disabled]="searchButtonStatus" class="btn btn-custom btn-outline-normal"-->
                    <!--<input type="text" class="form-control" style="min-width: 280px; padding-left: 20px;"-->
                    <!--[(ngModel)]="condition" maxlength="20" placeholder="输入关键字" (ngModelChange)="searchUser(1)"/>-->
                    <div class="input-group authData">
                        <!--<input type="text" class="form-control" placeholder="请填入搜寻值" [ngModel]="searchTarget"-->
                        <!--(ngModelChange)="filterList($event)">-->
                        <input type="text" class="form-control"
                               [(ngModel)]="condition" maxlength="20" placeholder="输入关键字"
                               (ngModelChange)="searchUser(1)"/>
                        <div class="input-group-addon" style="cursor: pointer;"><i class="ion-search"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body table-query">
        <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr class="table-title">
                    <th class="table-id id"></th>
                    <th class="table-id id" style="min-width: 160px;">用户 ID</th>
                    <th class="content">用户名称</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of searchedUsers" class="table-body">
                    <td class="id">
                        <label class="checkbox-inline custom-checkbox allow nowrap">
                            <input type="checkbox" class="custom-control-input" [checked]="user.checked"
                                   (change)="clickUser($event,user)"/>
                            <span class=""></span>
                        </label>
                        <!--<label class="checkbox-inline custom-checkbow allow nowrap">-->
                        <!--&lt;!&ndash;<input type="checkbox" [(ngModel)]="user.checked">&ndash;&gt;-->
                        <!--<input type="checkbox" [checked]="user.checked" (change)="clickUser($event,user)">-->
                        <!--&lt;!&ndash;<input type="checkbox" [(ngModel)]="user.checked" (change)="clickUser($event,user)">&ndash;&gt;-->
                        <!--<span style="margin-top: 10px; height: auto;"></span>-->
                        <!--</label>-->
                    </td>
                    <td class="id"> {{user.id}}</td>
                    <td class="content"> {{user.name}}</td>
                </tr>
                </tbody>
            </table>

            <!--<div style="float: right;margin-top:10px;" *ngIf="searchedUsers.length != 0">-->
            <div style="float: right;margin-top:10px;">
                <div class="btn-group" data-toggle="buttons">
                    <button type="button" class="btn btn-default" (click)="changePage(1)">
                        <i class="fa fa-fast-backward"></i>
                    </button>
                    <button type="button" class="btn btn-default" (click)="changePage(currentPageNo -1)">
                        <i class="ion-chevron-left"></i>
                    </button>
                    <label class="btn btn-query"
                           style="padding: 5px 0 4px 0;width: 35px;border-right: none;margin-bottom: 0;">
                        <input style="margin-left:5px;width:30px;border:none;text-align: center;" type="text"
                               [(ngModel)]="currentPageNo" (focusout)="onFocusOut($event)" (keyup)="onKeyUp($event)">
                    </label>
                    <label class="btn btn-query slice"
                           style="padding: 6px 0px 5px 0;text-align: center;width: 20px;margin-bottom: 0;">
                        /
                    </label>
                    <label class="btn btn-query final"
                           style="padding: 6px 10px 5px 0;text-align: center;width: 35px;margin-bottom: 0;">
                        {{maxPageNo}}
                    </label>
                    <button type="button" class="btn btn-default" (click)="changePage(currentPageNo + 1)">
                        <i class="ion-chevron-right"></i>
                    </button>
                    <button type="button" class="btn btn-default" (click)="changePage(maxPageNo)">
                        <i class="fa fa-fast-forward"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ba-card>

<!--预览开窗-->
<ng-template #PreviewModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">用户清单预览</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive modal-table-query">
            <table class="table table-fixed">
                <thead>
                <tr class="table-title">
                    <!--<th class="table-id id" style="min-width: 160px;">用户 ID</th>-->
                    <!--<th class="content">用户名称</th>-->
                    <th class="table-id id" style="width: 160px;">用户 ID</th>
                    <th class="content">用户名称</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of selectedUsers" class="table-body">
                    <td class="id"  style="width: 160px;"> {{user.id}}</td>
                    <td class="content"> {{user.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-normal" (click)="c('Close click')">确定</button>
    </div>
</ng-template>