<div *ngIf="tabInfo.isFocus">
    <div *ngIf="!isEditStatement">
        
        <div class="edittedTreeArea" style=" justify-content: flex-end;padding-top: 5px;border-bottom: none;">
            <div  style="text-align:right;padding-right:5px;">
                <button class="btn btn-custom btn-primary-normal" (click)="newPolicyModalOpen()">新增</button>
            </div>
        </div>

        <div>
            <div class="table-responsive table-roleAuthEdit">
                <table class="table">
                    <thead>
                        <tr class="table-title">
                            <th class="table-id id" style="width: 30%">策略名称</th>
                            <th class="content">起讫日期</th>
                        </tr>
                    </thead>
                </table>
            </div>      

            <div style="min-height:44px;" *ngFor="let policy of sourceDataPolicy">
                <!-- Policy -->
                <div class="table-body-custom-dataPolicy">
                    <div style="padding-left:25px;min-width:30%;">
                        <p style="cursor:pointer;font-size: 16px;" (click)="policy.subCollapsed = !policy.subCollapsed"> 
                            <b     
                                class="fa" 
                                [ngClass]="{'fa-caret-down': !policy.subCollapsed, 'dataPolicy-list-caret': policy.subCollapsed}">
                            </b>
                            {{policy.name}}
                        </p>
                    </div>

                    <div style="padding-left:20px;">
                        <p *ngIf="!policy.effectiveTime && !policy.expiredTime"> -- </p>
                        <p *ngIf="policy.effectiveTime || policy.expiredTime">{{policy.effectiveDate}} ~ {{policy.expiredDate}}</p>
                    </div>

                    <div style="padding-top:6px;padding-right:5px;">
                        <button class="btn btn-custom btn-outline-normal" (click)="editAffectedOrgType(policy)">筛选型态</button>

                        <button class="btn btn-custom btn-outline-normal" (click)="editStatement(policy)">编辑规则</button>

                        <button class="btn btn-custom btn-outline-normal" (click)="editPolicyModalOpen(policy)">编辑策略</button>
                    </div>
                </div>

                <div [ngbCollapse]="policy.subCollapsed">
                    <div  class="statement-row" style="height:auto;width:100%;padding-bottom:25px;">
                        <!-- UserInOrg -->
                        <div class="statement-row-title">
                            <div style="text-align:left;padding-left: 40px;padding-top:8px;">
                                <p class="statement-title" style="margin:0;">隶属组织</p>
                            </div>

                            <div style="text-align:left;padding-right: 40px;padding-top:8px;" *ngIf="policy.userInOrg.checked">
                                <p class="statement-title" style="margin:0;">
                                    <i style="font-size: 16px;" class="ion-android-done"></i>
                                    启用
                                </p>
                            </div>
                        </div>
                        <div style="width: calc(100% - 80px);border-bottom: 1px solid #cccccc;margin:0 40px;padding-top: 12px;"></div>

                        <div class="statement-row-content">
                            <div>
                                <p *ngIf="tabInfo.id == 'RoleDataPolicy'" class="content-id" style="margin:0;">
                                    套用此角色的用户，其所属的组织数据权限
                                </p>
                                <p *ngIf="tabInfo.id == 'UserDataPolicy'" class="content-id" style="margin:0;">
                                    套用此用户其所属的组织数据权限
                                </p>
                            </div>

                            <div style="padding-right: 40px;" *ngIf="policy.userInOrg.checked">
                                <p class="content-id" style="margin:0;">
                                    {{policy.userInOrg.effectName}}
                                </p>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="policy.affectedOrgTypes.length > 0"  class="statement-row" style="height:auto;width:100%;padding-bottom:25px;">
                        <!-- affectedOrgType -->
                        <div class="statement-row-title">
                            <div style="text-align:left;padding-left: 40px;padding-top:8px;">
                                <p class="statement-title" style="margin:0;">可见组织型态</p>
                            </div>
                        </div>
                        <div style="width: calc(100% - 80px);border-bottom: 1px solid #cccccc;margin:0 40px;padding-top: 12px;"></div>

                        <div *ngFor="let orgType of policy.affectedOrgTypes">
                            <div class="statement-row-content">
                                <div>
                                    <p class="content-id" style="margin:0;"> 
                                        {{ orgType.name }} ({{ orgType.id }}) 
                                    </p>
                                </div>
                            </div>
                            <div style="width: calc(100% - 80px);border-bottom: 1px solid #cccccc;margin:0 40px;"></div>
                        </div>

                    </div>

                    <div  class="statement-row" style="height:auto;width:100%;padding-bottom:25px;">
                        <!-- targetOrg -->
                        <div class="statement-row-title">
                            <div style="text-align:left;padding-left: 40px;padding-top:8px;">
                                <p class="statement-title" style="margin:0;">可见组织</p>
                            </div>
                        </div>
                        <div style="width: calc(100% - 80px);border-bottom: 1px solid #cccccc;margin:0 40px;padding-top: 12px;"></div>

                        <div *ngFor="let org of policy.targetOrgs">
                            <div class="statement-row-content">
                                <div>
                                    <p class="content-id" style="margin:0;"> 
                                        {{ org.name }} ({{ org.label }}) 
                                    </p>

                                    <p class="content-id urn" style="margin: 0;">
                                        {{ org.urn }}
                                    </p>
                                </div>

                                <div style="padding-right: 40px;">
                                    <p class="content-effect" style="margin: 0;padding-top: 10px;">
                                        {{ org.effectName }}
                                    </p>
                                </div>
                            </div>
                            <div style="width: calc(100% - 80px);border-bottom: 1px solid #cccccc;margin:0 40px;"></div>
                        </div>

                    </div>

                    <div  class="statement-row" style="height:auto;width:100%;padding-bottom:25px;">
                        <!-- targetOrgTag -->
                        <div class="statement-row-title">
                            <div style="text-align:left;padding-left: 40px;padding-top:8px;">
                                <p class="statement-title" style="margin:0;">可见片区</p>
                            </div>
                        </div>
                        <div style="width: calc(100% - 80px);border-bottom: 1px solid #cccccc;margin:0 40px;padding-top: 12px;"></div>

                        <div *ngFor="let orgTag of policy.targetOrgTags">
                            <div class="statement-row-content">
                                <div>
                                    <p class="content-id" style="margin:0;"> 
                                        {{ orgTag.name }} ({{ orgTag.id }})
                                    </p>
                                </div>

                                <div style="padding-right: 40px;">
                                    <p class="content-effect" style="margin: 0;">
                                        {{ orgTag.effectName }}
                                    </p>
                                </div>
                            </div>
                            <div style="width: calc(100% - 80px);border-bottom: 1px solid #cccccc;margin:0 40px;"></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div *ngIf="isEditStatement">
        <div *ngIf="!isTargetOrgEdit && !isTargetOrgTagEdit && !isAffectedOrgTypeEdit">
            <div class="editStatement-title">
                <div>
                    <span class="title-back" (click)="backToPolicy()">数据总览</span> > {{selectedPolicy.name}}
                </div>

                <div>
                    <button class="btn btn-custom btn-primary-normal" (click)="editStatementSave()">储存</button>
                </div>
            </div>

            <!-- userInOrg -->
            <div style="padding-top: 36px;padding-bottom: 50px;">
                <div style="padding-bottom: 8px;">
                    <p style="margin:0;color: black;" >隶属组织</p>
                </div>

                <div>
                    <div class="table-responsive table-userInOrg">
                        <table class="table">
                            <thead>
                                <tr class="table-title">
                                    <th class="table-id id" style="width:85%">说明</th>
                                    <th class="content" style="width:auto;text-align:left;padding-left:15px;">数据权限范围</th>
                                    <th class="fillup" style="width:auto;text-align:left;padding-left:15px;">状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-body">
                                    <td *ngIf="tabInfo.id == 'RoleDataPolicy'" class="id" style="color:#333333;">套用此角色的用户，其所属的组织数据权限</td>
                                    <td *ngIf="tabInfo.id == 'UserDataPolicy'" class="id" style="color:#333333;">套用此用户其所属的组织数据权限</td>
                                    <td class="content" style="padding-right: 20px;">
                                        <select class="form-control" style="min-width:220px;min-height:30px;" [(ngModel)]="selectedPolicy.userInOrg.effect" [disabled]="!selectedPolicy.userInOrg.checked">
                                            <option value="self">自身的数据权限</option>  
                                            <option value="org">节点内数据权限</option>
                                            <option value="orgCascade">节点与子节点内的数据权限</option>
                                            <option value="none">没有数据权限</option>
                                        </select>
                                    </td>
                                    <td class="fillup">
                                        <label class="switch">
                                            <input type="checkbox" [ngModel]="selectedPolicy.userInOrg.checked" (ngModelChange)="checkedUserInOrg($event)">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="width: 104%;padding: 0px 6px 0px 6px;border-bottom: 1px solid #999999;margin: 0 -21px;"></div>

            <!-- targetOrg -->
            <div style="padding-top: 24px;padding-bottom: 50px;">
                <div style="padding-bottom: 8px;display: inline-flex;justify-content: space-between;align-items: center;width: 100%;">
                    <div >
                        <p style="margin:0;color: black;font-weight: bold;" >可见组织</p>
                    </div>
                    <div>
                        <button class="btn btn-custom btn-outline-normal" (click)="editTargetOrg()">編輯组织</button>
                    </div>
                </div>

                <div>
                    <div class="table-responsive table-userInOrg">
                        <table class="table">
                            <thead>
                                <tr class="table-title">
                                    <th class="table-id id" style="width: 68%;">组织名称(ID)</th>
                                    <th class="content" style="width:250px;text-align:left;padding-left:15px;">数据权限范围</th>
                                    <th class="fillup" style="width:50px;text-align:left;padding-left:15px;">删除</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-body-custom">
                        <div class="table-body-row"  *ngFor="let org of selectedPolicy.targetOrgs" style="height: 70px;">
                            <div class="table-row-listContent">
                                <p style="color:#333333">{{ org.name }} ({{ org.label }})</p>
                                <p style="margin: 0;color:#666666;padding-left: 15px;">{{ org.urn }}</p>
                            </div>

                            <div class="table-row-constraint">
                                <select class="form-control" style="max-width:220px;min-height:30px;text-align: right;" [(ngModel)]="org.effect">
                                    <option value="self">自身的数据权限</option>  
                                    <option value="org">节点内数据权限</option>
                                    <option value="orgCascade">节点与子节点内的数据权限</option>
                                    <option value="none">没有数据权限</option>
                                </select>
                            </div>

                            <div class="table-row-delete">
                                <button class="btn btn-default btn-icon" type="button" style="border:none;padding:5px;margin-right: 10px;font-size: 18px;" (click)="removeTargetOrgData(org)">
                                    <i class="ion-android-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div style="width: 104%;padding: 0px 6px 0px 6px;border-bottom: 1px solid #999999;margin: 0 -21px;"></div>

            <!-- targetOrgTag -->
            <div style="padding-top: 24px;padding-bottom: 50px;">
                <div style="padding-bottom: 8px;display: inline-flex;justify-content: space-between;align-items: center;width: 100%;">
                    <div >
                        <p style="margin:0;color: black;font-weight: bold;" >可见片区</p>
                    </div>
                    <div>
                        <button class="btn btn-custom btn-outline-normal" (click)="editTargetOrgTag()">編輯片区</button>
                    </div>
                </div>

                <div>
                    <div class="table-responsive table-userInOrg">
                        <table class="table">
                            <thead>
                                <tr class="table-title">
                                    <th class="table-id id" style="width:68%">片區名称(ID)</th>
                                    <th class="content" style="width:250px;text-align:left;padding-left:15px;">数据权限范围</th>
                                    <th class="fillup" style="width:50px;text-align:left;padding-left:15px;">删除</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-body-custom">
                        <div class="table-body-row"  *ngFor="let orgTag of selectedPolicy.targetOrgTags">
                            <div class="table-row-listContent" style="padding-top: 8px;">
                                <p style="color:#333333">{{ orgTag.name }} ({{ orgTag.id }})</p>
                            </div>

                            <div class="table-row-constraint">
                                <select class="form-control" style="max-width:220px;min-height:30px;text-align: right;" [(ngModel)]="orgTag.effect">
                                    <option value="self">自身的数据权限</option>  
                                    <option value="org">节点内数据权限</option>
                                    <option value="orgCascade">节点与子节点内的数据权限</option>
                                    <option value="none">没有数据权限</option>
                                </select>
                            </div>

                            <div class="table-row-delete">
                                <button class="btn btn-default btn-icon" type="button" style="border:none;padding:5px;margin-right: 10px;font-size: 18px;" (click)="removeTargetOrgTagData(orgTag)">
                                    <i class="ion-android-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div style="width: 104%;padding: 0px 6px 0px 6px;border-bottom: 1px solid #999999;margin: 0 -21px;"></div>
        </div>
        
        <div *ngIf="isTargetOrgEdit">
            <div class="editStatement-title" style="padding:0;">
                <div style="padding-top: 12px;text-align: left;">
                    <span class="title-back" (click)="backToPolicy()">数据总览</span> > <span class="title-back" (click)="backToEdit()"> {{selectedPolicy.name}} </span> > 編輯组织
                </div>
                <div style="padding-top: 3px;padding-bottom: 15px;text-align: right;">
                    <button class="btn btn-custom btn-outline-normal" (click)="previewChecked()">预览</button>
                    <button class="btn btn-custom btn-outline-normal" (click)="updateToSelected()">更新</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" [ngModel]="selectedOrgCatalog" (ngModelChange)="selectOrgCatalog($event)">
                        <option *ngFor="let orgCatalog of orgCatalogList" [value]="orgCatalog.id"> {{orgCatalog.name}} ({{ orgCatalog.id }})</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <select class="form-control" [ngModel]="selectedOrgAspect" (ngModelChange)="selectOrgAspect($event)">
                        <option *ngFor="let orgAspect of orgAspectList" [value]="orgAspect.id"> {{orgAspect.name}} ({{ orgAspect.id }}) </option>
                    </select>
                </div>
            </div>
            <div>
                <div class="table-responsive table-userInOrg">
                    <table class="table">
                        <thead>
                            <tr class="table-title">
                                <th class="table-id id" style="width:85%">组织名称(ID)</th>
                                <th class="fillup" style="width:100%;text-align:right;padding-left:15px;">组织型态</th>
                            </tr>
                        </thead>
                    </table>                    
                </div>
                <div>
                    <orgTree 
                        *ngFor="let item of orgTreeData" 
                        [menuItem]="item" 
                        [editStatus]="'multiple'" 
                        [isRoot]="true"
                        [withBorderBottom]="'with-borderBottom'"
                        [mainTree]="orgTreeData"
                        (childNotification) = "orgTreeGetNotify($event)">
                    </orgTree>
                </div>
            </div>
        </div>

        <div *ngIf="isTargetOrgTagEdit">
            <div class="editStatement-title" style="padding:0;">
                <div style="padding-top: 12px;text-align: left;">
                    <span class="title-back" (click)="backToPolicy()">数据总览</span> > <span class="title-back" (click)="backToEdit()"> {{selectedPolicy.name}} </span> > 編輯片區
                </div>
                <div style="padding-top: 3px;padding-bottom: 15px;text-align: right;">
                    <button class="btn btn-custom btn-outline-normal" (click)="previewChecked()">预览</button>
                    <button class="btn btn-custom btn-outline-normal" (click)="updateToSelected()">更新</button>
                </div>
            </div>

            <div>   
                <div class="table-responsive table-userInOrg">
                    <table class="table">
                        <thead>
                            <tr class="table-title">
                                <th class="table-id id" style="width:85%">片區名称(ID)</th>
                                <th class="fillup" style="width:100%;text-align:right;padding-left:15px;">组织型态</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <orgTagTree 
                    *ngFor="let orgTag of orgTagTreeData"
                    [editStatus]="'multiple'"
                    [isChild] = 'false'
                    [isList] = 'false'
                    [menuItem] = "orgTag"
                    [withBorderBottom]="'with-borderBottom'"
                    (childNotification) = "orgTagTreeGetNotify($event)">
                </orgTagTree>
            </div>
            
        </div>

        <div *ngIf="isAffectedOrgTypeEdit">
            <div class="editStatement-title" style="padding:0;">
                <div style="padding-top: 12px;text-align: left;">
                    <span class="title-back" (click)="backToPolicy()">数据总览</span> > 筛选组织型态
                </div>
                <div style="padding-top: 3px;padding-bottom: 15px;text-align: right;">
                    <button class="btn btn-custom btn-outline-normal" (click)="editAffectedOrgTypeSave()">储存</button>
                </div>
            </div>

            <div style="width: 100%;min-height: 40px;background-color: #62b7a6;padding-left: 10px;padding-top: 12px;">
                <p style="color: white;margin: 0;">可见组织型态</p>
            </div>

            <div style="max-height: 250px;" [ngClass]="{'scroll': backupAffectedOrgType.length > 5}">
                <div style="width: 100%;background-color:rgba(98, 183, 166, 0.08);border-bottom:1px solid #999999;height: 50px;" *ngFor="let orgType of backupAffectedOrgType">
                    <div class="target-list">
                        <div>
                            <p style="font-size:14px;margin:0;padding-top:6px;"> {{orgType.name}} ({{orgType.id}})</p>
                        </div>
                        <div>
                            <i class="ion-android-close" style="font-size:25px;cursor:pointer;" (click)="removeOrgTypeData(orgType)"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding-top: 20px;">
                <div class="row">
                    <div class="col-md-12">
                        <select class="form-control" [ngModel]="selectedCatalogType" (ngModelChange)="selectTypeOrgCatalog($event)">
                            <option *ngFor="let orgCatalog of orgCatalogList" [value]="orgCatalog.id"> {{orgCatalog.name}} ({{ orgCatalog.id }})</option>
                        </select>
                    </div>
                </div>
            </div>
            

            <div class="table-responsive table-userInOrg">
                <table class="table">
                    <thead>
                        <tr class="table-title">
                            <th class="table-id id" style="width:100%">型态名称(ID)</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div>
                <orgTree 
                    *ngFor="let item of orgTypeTreeData" 
                    [menuItem]="item" 
                    [editStatus]="'multiple'" 
                    [isRoot]="true"
                    [withBorderBottom]="'with-borderBottom'"
                    [mainTree]="orgTypeTreeData"
                    (childNotification) = "orgTypeTreeGetNotify($event)">
                </orgTree>
            </div>
        </div>
    </div>
</div>


<!--新增策略開窗-->
<ng-template #NewPolicyModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">新增策略</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
                <label><span style="color:#e54c4c">*</span>策略名称</label>
                <input type="text" class="form-control" [(ngModel)]="modalPolicyName">
            </div>
        </div>
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
                <label>开始日期时间</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="newStartDateTime">
            </div>
        </div>
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
                <label>结束日期时间</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="newEndDateTime">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-danger" (click)="c('Close click')">取消</button>
        <button 
            class="btn btn-custom btn-primary-normal" 
            [disabled]="modalConfirmStatus || modalPolicyName ==''" 
            (click)="newPolicyModalConfirm()">
            {{ modalConfirmText }}
        </button>
    </div>
</ng-template>


<!--編輯策略開窗-->
<ng-template #EditPolicyModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">编辑策略</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
                <label><span style="color:#e54c4c">*</span>策略名称</label>
                <input type="text" class="form-control" [(ngModel)]="modalPolicyName">
            </div>
        </div>
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
                <label>开始日期时间</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="editStartDateTime">
            </div>
        </div>
        <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
                <label>结束日期时间</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="editEndDateTime">
            </div>
        </div>
    </div>
    <div class="modal-footer custom-wrap" style="justify-content: space-between;">
            <div>
                <button 
                    class="btn btn-custom btn-primary-danger" 
                    [disabled]="modalDeleteStatus"
                    (click)="disabledPolicy()">
                    {{ modalDeleteText }}
                </button>
            </div>
            <div>
                <button class="btn btn-custom btn-primary-danger" (click)="c('Close click')">取消</button>
            </div>
            <div>
                <button 
                    class="btn btn-custom btn-primary-normal" 
                    [disabled]="modalConfirmStatus || modalPolicyId =='' || modalPolicyName ==''" 
                    (click)="editPolicyModalConfirm()">
                    {{ modalConfirmText }}
                </button>
            </div>
    </div>
</ng-template>


<!-- 詢問開窗 -->
<ng-template #SaveModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">离开编辑状态</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <p style="font-size: 14px;">您的资料尚未储存，是否离开?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-normal" (click)="c('Close click')">留在此页</button>
        <button class="btn btn-custom btn-primary-danger" (click)="exitThisPage()">离开此页</button>
    </div>
</ng-template>


<!--預覽開窗-->
<ng-template #PreviewModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span *ngIf="isTargetOrgEdit" class="modal-title pull-left" style="font-size: 18px;">編輯组织预览</span>
        <span *ngIf="isTargetOrgTagEdit" class="modal-title pull-left" style="font-size: 18px;">編輯片區预览</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive table-userInOrg" *ngIf="isTargetOrgEdit">
            <table class="table">
                <thead>
                    <tr class="table-title" style="display: block;">
                        <th class="table-id id" style="width:353px;">组织名称(ID)</th>
                    </tr>
                </thead>
            </table>
            <div class="table-body-custom" style="max-height:350px">
                <div class="table-body-row"  *ngFor="let org of backupTargetOrg" style="height: 70px;">
                    <div class="table-row-listContent">
                        <p style="color:#333333">{{ org.name }} ({{ org.label }})</p>
                        <p style="margin: 0;color:#666666;padding-left: 15px;">{{ org.urn }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive table-userInOrg" *ngIf="isTargetOrgTagEdit">
            <table class="table">
                <thead>
                    <tr class="table-title" style="display: block;">
                        <th class="table-id id" style="width:353px;">片區名称(ID)</th>
                    </tr>
                </thead>
            </table>
            <div class="table-body-custom" style="max-height:350px">
                <div class="table-body-row"  *ngFor="let orgTag of backupTargetOrgTag">
                    <div class="table-row-listContent">
                        <p style="color:#333333;margin:0;">{{ orgTag.name }} ({{ orgTag.id }})</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-normal" (click)="c('Close click')">确定</button>
    </div>
</ng-template>