@import "../../../../theme/sass/conf/conf";

.scroll{
    overflow-y: scroll;
}


.modal-footer.custom-wrap{

    div:nth-child(1) {
        flex:2;
    }
}

.edittedTreeArea{

    padding-top:20px;
    padding-bottom:15px;
    border-bottom: 1px solid #999999;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .title{
        p{
            padding-top: 8px;
            margin: 0;
            font-size: 16px;

            span{
                cursor: pointer;
                color:#038c78;
            }
        }
    }
}

.btn{
    &:hover{
        transform: none;
    }
}

.btn-custom {
    min-height: 32px;
    min-width: 80px;
    font-family: "微軟正黑體";
    font-weight: bold;
    
    &:hover{
      transform: none;
    }
  
    &.btn-primary-normal {
      border-color: #2bb2a2;
      border-radius: 2px;
      background-color: #2bb2a2;
      color: white;
  
      &:hover{
        background-color: #22c6ae;
      }
    }
  
    &.btn-outline-normal{
      border-color: #209e91;
      background-color: white;
      color: #209e91;
  
      &:hover{
          background-color: #22c6ae;
          color: white;
      }
    }

    &.btn-outline-alert{
        border-color: #e54c4c;
        background-color: white;
        color:#e54c4c;
    
        &:hover{
            
            background-color: #ef7878;
            color: white;
        }
    }

    &.btn-primary-danger{
        border-color: #e95e5e;
        background-color: #e95e5e;
        font-size: 14px;
        color:white;
        margin: 0;

        &:hover{
            
            background-color: #f76f6f;
        }
    }

    &.btn-outline-normal{

        &:disabled{
            border-color: #cccccc;
            color:#cccccc;
        }
    }

    &.btn-primary-custom, &.btn-primary-danger{

        &:disabled{
            border-color: #cccccc;
            background-color: #cccccc;
            color:#cccccc;
        }
    }
}

.table-roleAuthEdit{
    
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    .table-title{
        min-height: 34px;
        background-color: #f9f9f9;
        margin: 0;
        border-bottom: 1px solid #999999;
        border-top: 1px solid #999999;
        font-family: 'Source Sans Pro', sans-serif, "微軟正黑體";
        color: black;
        font-weight: bold;
        font-size: 14px;

        .id{
            padding: 8px 0 8px 25px;
            font-weight: bold;
            text-align: left;
            border: none;
        }
        .content{
            padding: 8px 0 8px 15px;
            font-weight: bold;
            border: none;
        }
        .fillup{
            padding: 8px 22px 8px 25px;
            font-weight: bold;
            text-align: right;
            border-bottom: 1px solid #999999;
            border-top: 1px solid #999999;
        }
    }

    .table-body{
        min-height: 40px;
        margin: 0;
        border-bottom: 1px solid #e5e5e5;

        .id{
            padding: 5px 0 5px 25px;
            text-align: left;
            border: none;
        }

        .content{
            padding: 5px 0 5px 15px;
            text-align: left;
            border: none;
        }

        .fillup{
            padding: 5px 22px 5px 15px;
            text-align: right;
            border: none;
        }
    }
}

.table-body-custom-dataPolicy{

    display:inline-flex;
    justify-content:
    space-between;width:100%;
    min-height: 44px;
    transition: 0.3s ease;
    border-bottom: 1px solid #cccccc;

    &:hover{
        background-color: #62b7a6;
        color: white;
        div{
            b{
                border-bottom-color: white;
            }
        }
    }

    div{
        p{
            margin: 0;
            padding-top: 12px;
            font-size: 14px;
        }

        &:nth-child(2){
            flex: 1;
        }

        button{
            z-index: 999;
        }
    }
}

.statement-row{

    background-color: rgba(98, 183, 166, 0.08);
    border-bottom: 1px solid #999999;
    
    .statement-row-title{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        padding-top:15px;
        font-family: "微軟正黑體";
        font-size: 14px;

        div {
            p.statement-title{
                color: #209e91;
                font-weight: bold;
            }
        }
    }

    .statement-row-content{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        padding-top:15px;
        padding-bottom: 15px;
        font-family: "微軟正黑體";
        font-size: 14px;

        div{

            p.content-id{
                padding-left: 40px;
                color: #666666;
                font-weight: bold;

                &.urn{
                    padding-left: 54px;
                    color: #999999;
                }
            }

            p.content-effect{
                color: #666666;
                font-weight: bold;
            }
        }
    }
}

.editStatement-title{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-top:15px;
    font-family: "微軟正黑體";
    font-size: 14px;

    div:first-child{

        padding-top: 8px;
        span.title-back{

            cursor: pointer;
            color:#038c78;
        }
    }
}

.dataPolicy-list-caret{
    width: 0;
    height: 0;
    margin-top: 2px;
    margin-right:6px;
    border-bottom: 9px solid #333333;
    border-left: 9px solid transparent;

    &:hover {
        border-bottom-color: $primary;
    }
}

.target-list{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 22px;
}

.table-userInOrg{
    
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    .table-title{
        min-height: 34px;
        background-color: #f9f9f9;
        margin: 0;
        border-bottom: 1px solid #999999;
        border-top: 1px solid #999999;
        font-family: 'Source Sans Pro', sans-serif, "微軟正黑體";
        color: black;
        font-weight: bold;

        .id{
            padding: 8px 0 8px 25px;
            text-align: left;
            border: none;
            font-size: 14px;            

            p.orgname{
                color: #333333;
                font-weight: bold;
            }

            p.urn{
                color: #999999;
            }
        }
        .content{
            padding: 8px 0 8px 15px;
            border: none;
        }
        .fillup{
            padding: 8px 22px 8px 25px;
            text-align: right;
            border-bottom: 1px solid #999999;
            border-top: 1px solid #999999;
        }
    }

    .table-body{
        min-height: 40px;
        margin: 0;
        border-bottom: 1px solid #e5e5e5;

        .id{
            padding: 5px 0 5px 25px;
            text-align: left;
            border: none;
        }

        .content{
            padding: 5px 0 5px 15px;
            text-align: left;
            border: none;
        }

        .fillup{
            padding: 5px 22px 5px 15px;
            text-align: right;
            border: none;
        }
    }
}

.table-body-custom{
    
    max-height: 350px;
    overflow-y: scroll;

    .table-body-row{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding:10px 0;
        height: 50px;
        border-bottom: 1px solid #999999;

        .table-row-listContent{
            padding-left: 25px;
            max-width: 68%;
        }

        .table-row-constraint{
            width: 250px;            
        }

        .table-row-delete{
            width: 50px;
            padding-left: 8px;

        }

        div:nth-child(1){
            flex: 2;
        }
    }
}


// Slider

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 18px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 0;
    right: 0;
    bottom: -10px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5bc9bc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5bc9bc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}