<div>
    <div>
        <span style="margin:0;font-size:16px;padding-top:15px;">專案介紹：是一個能夠將公司內部所有相關人員、角色、組織的功能權限以及數據權限做整合並且提供統一的管道做編輯或者瀏覽的平台，主要對象為公司內部相對應的部門以及顧客方的系統管理部門。</span>
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">登入頁</p>
        <img src="/assets/img/projectAlbum/CC/login.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶查詢頁</p>
        <img src="/assets/img/projectAlbum/CC/userQuery.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶新增頁</p>
        <img src="/assets/img/projectAlbum/CC/userAdd.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶功能權限總覽頁</p>
        <img src="/assets/img/projectAlbum/CC/userResultView-1.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶功能權限總覽頁 - 查詢</p>
        <img src="/assets/img/projectAlbum/CC/userResultSearch.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶數據權限總覽頁</p>
        <img src="/assets/img/projectAlbum/CC/userResultView-2.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶功能權限頁</p>
        <img src="/assets/img/projectAlbum/CC/userAuthView.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶功能權限編輯頁</p>
        <img src="/assets/img/projectAlbum/CC/userAuthEdit.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶數據權限頁 - 1</p>
        <img src="/assets/img/projectAlbum/CC/userPolicyView-1.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶數據權限頁 - 2</p>
        <img src="/assets/img/projectAlbum/CC/userPolicyView-2.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶數據權限編輯頁 - 1</p>
        <img src="/assets/img/projectAlbum/CC/userPolicyEdit-1.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">用戶數據權限編輯頁 - 2</p>
        <img src="/assets/img/projectAlbum/CC/userPolicyEdit-2.PNG" style="width:1000PX;">
    </div>
</div>

