<div>
    <div>
        <span style="margin:0;font-size:16px;padding-top:15px;">專案介紹：是一個能夠將公司內部所有相關人員、角色、組織的功能權限以及數據權限做整合並且提供統一的管道做編輯或者瀏覽的平台，主要對象為公司內部相對應的部門以及顧客方的系統管理部門。</span>
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">登入頁</p>
        <img src="/assets/img/projectAlbum/CAC/login.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊查詢頁</p>
        <img src="/assets/img/projectAlbum/CAC/purchaseQuery.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊查詢結果頁</p>
        <img src="/assets/img/projectAlbum/CAC/purchaseList.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊內容頁</p>
        <img src="/assets/img/projectAlbum/CAC/pruchase.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊編輯頁 - 1</p>
        <img src="/assets/img/projectAlbum/CAC/pattern-1.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊編輯頁 - 2</p>
        <img src="/assets/img/projectAlbum/CAC/pattern-2.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">購買資訊編輯頁 - 3</p>
        <img src="/assets/img/projectAlbum/CAC/pattern-3.PNG" style="width:1000PX;">
    </div>

    <div style="padding-top:40px;">
        <p style="font-size:16px;">客戶資訊頁</p>
        <img src="/assets/img/projectAlbum/CAC/customer.PNG" style="width:1000PX;">
    </div>
</div>

