.card {

    &.with-scroll-tab {
        margin-bottom: 0;
        height: calc(100vh - 160px);
        > .card-body {
            flex: 0 1 auto;
            overflow-x: scroll;
            overflow-y: scroll;
        }
    }
}

.tab-button{
    width: 140px;
    margin-top:6px;
    height: 38px;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;

    &.tab-focuson{

        border-top:4px solid #5bc9bc;
        border-bottom: 0;
        height: auto;
        margin-top: 0;
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    > p{
        padding-top: 10px
    }
}