<div baCardBlur class="animated fadeIn card with-scroll-roleAuthEdit" zoom-in>
    <div class="card-header tab clearfix">
        <div style="height: 44px;">

            <div *ngFor="let tab of tabList"  class="tab-button" [ngClass]="{'tab-focuson': tab.isFocus}" (click)="tabButtonClick(tab)">
                <p>{{ tab.name }}</p>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <div>

            <div *ngIf="tabList[0].isFocus" class="row" style="padding: 10px 6px 20px 6px;border-bottom: 1px solid #999999;margin: 0 -21px;">
                <div class="col-md-12">
                    <select class="form-control custom" [ngClass]="{unSelected: selectedApp == '请选择欲浏览的应用'}" [ngModel]="selectedApp" (ngModelChange)="appSelected($event)">
                        <option *ngIf="selectedApp == '请选择欲浏览的应用'" value="请选择欲浏览的应用">请选择欲浏览的应用</option>
                        <option *ngFor="let app of appList" [value]="app.id"> {{app.name}} ({{ app.id }})</option>
                    </select>
                </div>
            </div>

            <FunctionAuth
                [selectedApp]="selectedApp"
                [sourcePermission]="sourceRolePermission"
                [roleId]="this.edittedRole.id"
                [tabInfo]="tabList[0]"
                [authTreeData]="roleAuthTreeData">
            </FunctionAuth>


            <DataPolicy
                [roleInfo]="this.edittedRole"
                [(sourceDataPolicy)]="sourceRoleDataPolicy"
                [tabInfo]="tabList[1]">
            </DataPolicy>
        </div>
    </div>
</div>