<ba-card title='管理员'class="col-md-12">
    <div class="card-header clearfix" style="height: 50px;border: 0;">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <h3 class="card-title" style="margin-top: 3px;">管理员角色</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body table-query">
        <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr class="table-title">
                    <th class="table-id id" style="min-width: 160px;">管理员角色 ID</th>
                    <th class="content">管理员角色名称</th>
                    <th class="fillup text-right"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let role of roles" class="table-body">
                    <td class="id"> {{role.id}}</td>
                    <td class="content"> {{role.name}}</td>
                    <td class="fillup text-right">
                        <button class="btn btn-custom btn-outline-normal" (click)="editRole(role)">应用权限</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ba-card>
