<div *ngIf="ViewButtonList[2].isActive">
    <div style="display: flex;justify-content: space-between;align-items:flex-end;height: 60px;">
        <div>
            <select class="form-control authData-select role" [ngModel]="selectedViewButton" (ngModelChange)="viewButtonSelect($event)">
                <option value="resultView">运算结果</option>
                <!-- <option value="orgView">行为</option> -->
                <option value="roleView">角色</option>
                <option value="userView">用户</option>
            </select>
        </div>
        <div class="input-group authData">
            <input type="text"  class="form-control" placeholder="请填入搜寻值" [ngModel]="searchTarget" (ngModelChange)="filterList($event)">
            <div class="input-group-addon" style="cursor: pointer;"><i class="ion-search"></i></div>
        </div>
    </div>

    <div>
        <div class="table-responsive table-authDataEdit">
            <table class="table">
                <thead>
                    <tr class="table-title">
                        <th class="content" style="width: 100%;">归属角色/隶属组织</th>
                        <th class="content">组织型态</th>
                        <th class="fillup">数据权限范围</th>
                    </tr>
                </thead>
                <tbody *ngFor="let role of roleDatapolicyList">
                    <tr class="table-body dataPolicyData">
                        <td class="content" (click)="role.subCollapsed = !role.subCollapsed" style="cursor: pointer">
                            <p style="margin: 0">
                                <b     
                                    class="fa authData-dataList-caret"
                                    style="font-size: 18px;margin-right: 5px;"
                                    [ngClass]="{'fa-caret-down': !role.subCollapsed, 'authData-dataList-caret': role.subCollapsed}">
                                </b>
                                {{role.name}} 
                            </p>
                            <p class="urn" style="margin: 0;padding-left: 25px;"> {{role.catalogName}}:{{role.name}} </p>
                        </td>
                        <td class="content"></td>
                        <td style="padding-top: 20px;text-align: right;min-width: 250px;" class="fillup role">
                            <button class="btn btn-custom btn-outline-normal" (click)="roleDataPolicyEdit(role)">编辑</button>
                        </td>
                    </tr>

                    <tr [ngbCollapse]="role.subCollapsed" class="table-body authData" *ngFor="let org of role.dataPermission" style="background-color: rgba(98, 183, 166, 0.08)">
                        <td style="line-height: 26px;" class="content">
                            <p style="margin: 0;padding-left: 18px;"> {{org.name}} </p>
                            <p class="urn" style="margin: 0;padding-left: 32px;"> {{org.urn}}</p>
                        </td>
                        <td style="line-height: 26px;padding-top: 20px;" class="content">{{org.orgTypeName}}</td>
                        <td style="line-height: 26px;padding-top: 20px;text-align: left;min-width: 250px;" class="content">{{org.effectName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>