<div *ngIf="ViewButtonList[0].isActive">
    <div style="display: flex;justify-content: space-between;align-items:flex-end;height: 60px;">
        <div>
            <select class="form-control authData-select result" [ngModel]="selectedViewButton" (ngModelChange)="viewButtonSelect($event)">
                <option value="resultView">运算结果</option>
                <!-- <option value="orgView">行为</option> -->
                <option value="roleView">角色</option>
                <option value="userView">用户</option>
            </select>
        </div>
        <div class="input-group authData">
            <input type="text"  class="form-control" placeholder="请填入搜寻值" [ngModel]="searchTarget" (ngModelChange)="filterList($event)">
            <div class="input-group-addon" style="cursor: pointer;"><i class="ion-search"></i></div>
        </div>
    </div>

    <div>
        <div class="table-responsive table-authDataEdit">
            <table class="table">
                <thead>
                    <tr class="table-title">
                        <th class="table-id id">隶属组织</th>
                        <th class="content"style="width: 100%;">组织</th>
                        <th class="content">组织型态</th>
                        <th class="fillup">数据权限范围</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-body dataPolicyData" *ngFor="let org of resultDatapolicyList">
                        <td style="padding-top: 20px;padding-left: 44px;" class="id"> 
                            <i *ngIf="org.isUserInOrg" style="font-size: 16px;color: #888888;" class="ion-android-done"></i> 
                        </td>
                        <td class="content">
                            <p style="margin: 0"> {{org.name}} </p>
                            <p style="margin: 0;padding-left: 14px;" class="urn"> {{org.urn}} </p>
                        </td>
                        <td style="padding-top: 20px" class="content"> {{org.orgTypeName}} </td>
                        <td style="padding-top: 20px;padding-right: 0px;" class="fillup"> {{org.effectName}}</td>                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>