<div *ngIf="tabInfo.isFocus && ViewButtonList[1].isActive">
        <div *ngIf="!isStateView">
            <div style="display: flex;justify-content: space-between;align-items:flex-end;height: 60px;">
                <div>
                    <select class="form-control authData-select org" [ngModel]="selectedViewButton" (ngModelChange)="viewButtonSelect($event)">
                        <option value="resultView">运算结果</option>
                        <option value="orgView">组织</option>
                        <option value="roleView">角色</option>
                        <option value="userView">用户</option>
                    </select>
                </div>
                <div class="input-group authData">
                    <input type="text"  class="form-control" placeholder="请填入搜寻值" [ngModel]="searchTarget" (ngModelChange)="filterList($event)">
                    <div class="input-group-addon" style="cursor: pointer;"><i class="ion-search"></i></div>
                </div>
            </div>

            <div>
                <div class="table-responsive table-authDataEdit">
                    <table class="table">
                        <thead>
                            <tr class="table-title">
                                <th class="table-id id" style="width: 100%">隶属组织</th>
                                <th class="content" style="padding-right: 120px">担任角色</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div *ngFor="let org of orgPermissionList">
                    <div class="org-authData-list">
                        <div class="content" (click)="org.subCollapsed = !org.subCollapsed" style="cursor: pointer;">
                            <p>
                                <b     
                                    class="fa authData-dataList-caret"
                                    style="font-size: 18px;margin-right: 5px;"
                                    [ngClass]="{'fa-caret-down': !org.subCollapsed, 'authData-dataList-caret': org.subCollapsed}">
                                </b>
                                {{org.orgName}} ({{org.label}})
                            </p>
                            <p  class="urn">{{org.orgUrn}}</p>
                        </div>
                        <div style="padding-right: 26px">
                            <p style="padding-top: 12px;font-size: 14px;color: #333333;font-family: '微軟正黑體';">{{org.roleName}}</p>
                        </div>
                        <div style="padding-right: 5px">
                            <button [disabled]='true' class="btn btn-custom btn-outline-normal">编辑</button>
                        </div>
                    </div>

                    <div [ngbCollapse]="org.subCollapsed" class="authTreeData">
                        <authTree   
                            *ngFor="let item of org.authData" 
                            [menuItem]="item" 
                            [editStatus]="'normal'" 
                            [withBorderBottom]="'with-borderBottom'"
                            [isResult] = "false"
                            [isIDShow]="true"
                            (childNotification)="getNotify($event)">
                        </authTree>
                    </div>
                </div>  
                
            </div>
        </div>
    
        
        <div *ngIf="isStateView">
            <div class="state-Nav">
                <div style="text-align:left;" class="title">
                    <p> <span (click)="isStateView = !isStateView">權限总览</span> > <span (click)="isStateView = !isStateView"> {{selectedAction.name}} </span> > 状态</p>
                </div>
                <div style="text-align:right;">
                </div>
            </div>
    
            <div class="row" *ngFor="let conditionRow of conditionList" style="margin: 0;border-bottom: 1px solid #cccccc;">
                <div class="col-md-4" *ngFor="let condition of conditionRow" style="padding: 20px 15px 10px 20px">
                    <label style="font-size: 16px;color: #cccccc;">{{ condition.name }}</label>
                    <p style="font-size: 16px;color: #333333;">{{ condition.value }}</p>
                </div>
            </div>
        </div>
    </div>
        