<ba-card>
    <div class="row">
        <div class="col-md-12" style="border-bottom: 1px solid #cccccc;">
            <label class="form-control-label">最后一次更新时间</label>
            <p style="margin-top: 5px;margin-bottom: 10px;color: #333333;font-size: 14px;font-weight: bolder;">{{stage.lastUpdateTime}}</p>
        </div>
    </div>

    <div class="row" style="margin-top:15px;">
        <div class="col-md-12" style="border-bottom: 1px solid #cccccc;">
            <label class="form-control-label">更新区隔时间（分钟）</label>
            <p style="margin-top: 5px;margin-bottom: 10px;color: #333333;font-size: 14px;font-weight: bolder;">{{stage.updateInterval}}</p>
        </div>
    </div>

    <div class="row" style="margin-top:15px;">
        <div class="col-md-12" style="border-bottom: 1px solid #cccccc;"s>
            <label class="form-control-label">预计下次更新时间</label>
            <p style="margin-top: 5px;margin-bottom: 10px;color: #333333;font-size: 14px;font-weight: bolder;">{{stage.nextUpdateTime}}</p>
        </div>
    </div>
</ba-card>