<!--停用提示區塊-->
<div class="row" *ngIf="promptText != ''" style="margin-bottom: 24px;">
    <div class="col-md-12">
        <div style="border: 1px #FFAA99 solid;">
            <div class="animated fadeIn card prompt">
                <div class="card-body">
                    <label>{{ promptText }}</label>
                </div>
            </div>            
        </div>
    </div>
</div>
<div baCardBlur class="animated fadeIn card" zoom-in>
    <div class="card-header tab clearfix">
        <div style="height: 44px;">

            <div *ngFor="let tab of tabList"  class="tab-button" [ngClass]="{'tab-focuson': tab.isFocus}" (click)="tabButtonClick(tab)">
                <p>{{ tab.name }}</p>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <div>

            <UserMetadataColumn 
                [userMetadataInfo]="userMetadata"
                [tabInfo]="tabList[0]">
            </UserMetadataColumn>

            <UserInRole
                [tabInfo]="tabList[1]"
                [roleTreeData]="roleDataList"
                [selectedRoleList]="selectedRoleList"
                [(sourceRoleIdList)]="roleIdList">
            </UserInRole>

            <UserInOrg
                [tabInfo]= "tabList[2]"
                [orgCatalogList]= "orgCatalogList"
                [selectedOrgCatalog]= "selectedOrgCatalog"
                [orgAspectList]= "orgAspectList"
                [userId]="userId"
                [selectedOrgAspect]= "selectedOrgAspect"
                [orgTreeData]= "orgTreeData"
                [nowPage]="'userEdit'"
                [userInOrgList]="userInOrgList"
                [(sourceUserInOrgList)]= "userInOrgList">
            </UserInOrg>

            <UserInOrgTag
                [tabInfo]="tabList[3]"
                [orgInTagTreeData]="orgTagList"
                [nowPage]="'userEdit'"
                [userInOrgTagList]="userInOrgTagList"
                [(sourceUserInOrgTagList)]="userInOrgTagList">
            </UserInOrgTag>

        </div>
    </div>
</div>

<!--編輯密碼開窗-->
<ng-template #PasswordModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">编辑密码</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label><span style="color:#e54c4c">*</span>新密码</label>
                    <input type="password" class="form-control" [(ngModel)]="updatedPsw" placeholder="输入新密码">
                </div>
            </div>
            <div class="row" style="padding-top: 15px;">
                <div class="col-md-12">
                    <label><span style="color:#e54c4c">*</span>再次输入新密码</label>
                    <input type="password" class="form-control" [(ngModel)]="confirmPsw" placeholder="再次输入新密码">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-danger" (click)="c('Close click')">取消</button>
        <button class="btn btn-custom btn-primary-normal" [disabled]="modalConfirmStatus || updatedPsw =='' || confirmPsw =='' || updatedPsw != confirmPsw" (click)="PasswordModalConfirm()" >{{ modalConfirmText }}</button>            
    </div>
</ng-template>


<!--停用用戶開窗-->
<ng-template #DisabledModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">停用用戶</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label><span style="color:#e54c4c">*</span>停用原因</label>
                    <textarea class="form-control" cols="50" [(ngModel)]="disabledCause" placeholder="最多输入100个字"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-danger" (click)="c('Close click')">取消</button>
        <button class="btn btn-custom btn-primary-normal" [disabled]="modalConfirmStatus || disabledCause ==''" (click)="DisabledModalConfirm()" >{{ modalConfirmText }}</button>
    </div>
</ng-template>

<!-- 詢問開窗 -->
<ng-template #SaveModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="modal-title pull-left" style="font-size: 18px;">离开页面</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <p style="font-size: 14px;">您的资料尚未储存，是否离开?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-normal" (click)="c('Close click')">留在此页</button>
        <button class="btn btn-custom btn-primary-danger" (click)="exitThisPage()">离开此页</button>
    </div>
</ng-template>