@import "../../../../theme/sass/conf/conf";
.btn{
    &:hover{
        transform: none;
    }
}

.btn-custom {
    min-height: 32px;
    min-width: 80px;
    font-family: "微軟正黑體";
    font-weight: bold;
    
    &:hover{
      transform: none;
    }
  
    &.btn-primary-normal {
      border-color: #2bb2a2;
      border-radius: 2px;
      background-color: #2bb2a2;
      color: white;
  
      &:hover{
        background-color: #22c6ae;
      }
    }
  
    &.btn-outline-normal{
      border-color: #209e91;
      background-color: white;
      color: #209e91;
  
      &:hover{
          background-color: #22c6ae;
          color: white;
      }
    }

    &.btn-outline-alert{
        border-color: #e54c4c;
        background-color: white;
        color:#e54c4c;
    
        &:hover{
            
            background-color: #ef7878;
            color: white;
        }
    }

    &.btn-primary-danger{
        border-color: #e95e5e;
        background-color: #e95e5e;
        font-size: 14px;
        color:white;
        margin: 0;

        &:hover{
            
            background-color: #f76f6f;
        }
    }

    &.btn-outline-normal{

        &:disabled{
            border-color: #cccccc;
            color:#cccccc;
        }
    }

    &.btn-primary-custom, &.btn-primary-danger{

        &:disabled{
            border-color: #cccccc;
            background-color: #cccccc;
            color:#cccccc;
        }
    }
}

.tab-button{
    width: 140px;
    margin-top:6px;
    height: 38px;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;

    &.tab-focuson{

        border-top:4px solid #5bc9bc;
        border-bottom: 0;
        height: auto;
        margin-top: 0;
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    > p{
        padding-top: 10px
    }
}

label.markLabel {
    margin-top: 7px;
    color: #cccccc;
    text-align: right;
}

.row.userMetadata-row{
    margin: 0;
    padding-bottom: 7px;
}


.prompt{

  margin-bottom: 0px;

  >.card-body {
    background-color:	rgba(255, 170, 170, 0.5);

    label{
      color: rgba(190, 0, 51,1);
      font-weight: bolder;
      font-size: 20px;
      padding-top: 10px;
    }
  }
}


.table-userInOrg{
    
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    .table-title{
        min-height: 34px;
        background-color: #f9f9f9;
        margin: 0;
        border-bottom: 1px solid #999999;
        border-top: 1px solid #999999;
        font-family: 'Source Sans Pro', sans-serif, "微軟正黑體";
        color: black;
        font-weight: bold;

        .id{
            padding: 8px 0 8px 25px;
            text-align: left;
            border: none;
        }
        .content{
            padding: 8px 0 8px 15px;
            border: none;
        }
        .fillup{
            padding: 8px 22px 8px 25px;
            text-align: right;
            border-bottom: 1px solid #999999;
            border-top: 1px solid #999999;
        }
    }

    .table-body{
        min-height: 40px;
        margin: 0;
        border-bottom: 1px solid #e5e5e5;

        .id{
            padding: 5px 0 5px 25px;
            text-align: left;
            border: none;
            font-size: 14px;                        

            p.orgname{
                color: #333333;
                font-weight: bold;
            }

            p.urn{
                color: #999999;
            }
        }

        .content{
            padding: 5px 0 5px 15px;
            text-align: left;
            border: none;
        }

        .fillup{
            padding: 5px 22px 5px 15px;
            text-align: right;
            border: none;
        }
    }
}

.table > tbody > tr > td {
    line-height: 30px;
}