<!--停用提示區塊-->
<div class="row" *ngIf="promptText != ''" style="margin-bottom: 24px;">
    <div class="col-md-12">
        <div style="border: 1px #FFAA99 solid;">
            <ba-card baCardClass="prompt">
                <label>{{ promptText }}</label>
            </ba-card>
        </div>
    </div>
</div>
<div baCardBlur class="animated fadeIn card with-scroll-userAuthEdit" zoom-in>
    <div class="card-header card-header-m" >
                <h3  class="card-title">
                    <p> <span class="link-t1" (click)="goback()">角色分类</span>  <b class="ion-ios-arrow-right"></b> {{catalog.name}}</p>
                </h3>    
                <div  class="float-right">
                    <button   class="btn btn-custom btn-primary-danger" (click)="disabledRoleCatalogForSure()">停用</button>
                    <button  [disabled]="!catalog.name"  class="btn btn-custom " [ngClass]="!!catalog.name?'btn-primary-normal':'btn-primary-basic'"  (click)="updatCatalog()">储存</button>
                </div>
    </div>
    <div class="card-header" style="height: 90px;border-bottom:0px">
        <div class="row" >
            <div style="text-align:left;" class="title col-md-12">
                <p><span style="color:#e54c4c">*</span>角色分类名称</p>
                <span><input type="text" class="form-control" style="width:30%;display:inline" [(ngModel)]="catalog.name"> ({{catalog.id}})</span>
            </div>
        </div>
    </div>   
    <div class="card-body table-query " >

        <div class="table-responsive" >
            <table class="table">
                <thead>
                    <tr class="table-title table-title-m2">
                        <th class="table-id id">角色ID</th>
                        <th class="content">角色名称</th>
                        <th class="fillup" style="text-align:right;padding:8px 17px 8px 5px">
                          <button class="btn btn-custom btn-outline-normal" (click)="openAddRoleModal()">新增</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roleList" class="table-body">
                        <td class="id"> {{role.id}} </td>
                        <td class="content"> {{role.name}} </td>
                        <td style="text-align:right;" class="fillup">
                            <button class="btn btn-custom btn-outline-normal" (click)="editRole(role)">编辑</button>
                        </td>                       
                    </tr>
                </tbody>
            </table>

            <div style="float: right;margin-top:10px;" *ngIf="false">
                <div class="btn-group" data-toggle="buttons">
                    <button type="button" class="btn btn-default" (click)="changePage('1', 0)" >
                        <i class="fa fa-fast-backward"></i>    
                    </button>
                    <button type="button" class="btn btn-default" (click)="changePage(nowPage, -1)">
                        <i class="ion-chevron-left"></i>
                    </button>
                    <label class="btn btn-query" style="padding: 5px 0 4px 0;width: 35px;border-right: none;margin-bottom: 0;">
                        <input style="margin-left:5px;width:30px;border:none;text-align: center;" type="text" [(ngModel)]="nowPage" (focusout)="onFocusOut($event)" (keyup)="onKeyUp($event)"> 
                    </label>
                    <label class="btn btn-query slice" style="padding: 6px 0px 5px 0;text-align: center;width: 20px;margin-bottom: 0;">
                        / 
                    </label>
                    <label class="btn btn-query final" style="padding: 6px 10px 5px 0;text-align: center;width: 35px;margin-bottom: 0;">
                        {{pageCount}} 
                    </label>
                    <button type="button" class="btn btn-default" (click)="changePage(nowPage, 1)">
                        <i class="ion-chevron-right"></i>    
                    </button>
                    <button type="button" class="btn btn-default" (click)="changePage(pageCount, 0)">
                        <i class="fa fa-fast-forward"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<!--停用角色分类開窗-->
<ng-template #msgModal let-c="close" let-d="dismiss">
  <div class="popup-box-m"> 
    <div class="modal-header" >
        <span class="modal-title pull-left" style="font-size: 18px;">停用角色分类</span>
    </div>
    <!-- <div style="background-color:#cccccc;height:1px;width:100%">&nbsp;</div> -->
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
               <div class="col-md-12 txt-bold" *ngIf="!roleList.length">
                    <p>是否确定停用此分类？</p>
                </div>                
                <div class="col-md-12 txt-bold" *ngIf="roleList.length">
                    <p>此分类下还有其它角色，确定要停用吗？</p>
                    <p style="color:#e54c4c">按下确定钮後，将会清除此角色分类下所有角色！</p>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-custom btn-primary-danger" (click)="c('Close click')">取消</button>
        <button class="btn btn-custom btn-primary-normal"  (click)="disabledRoleCatalog()" >确定</button>            
    </div>
  </div>
</ng-template>
<!--新增角色開窗-->
<ng-template #AddRoleModal let-c="close" let-d="dismiss">
    <div class="popup-box-m">
        <div class="modal-header" >
            <span class="modal-title pull-left" style="font-size: 18px;">新增角色</span>
            <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="c('Close click')">
                <span aria-hidden="true">&times;</span>
            </button> -->
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label><span style="color:#e54c4c">*</span>角色ID</label>
                        <input type="text" class="form-control" [(ngModel)]="roleId" placeholder="请输入角色ID" >
                    </div>
                </div>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-md-12">
                        <label><span style="color:#e54c4c">*</span>角色名称</label>
                        <input type="text" class="form-control" [(ngModel)]="roleName" placeholder="请输入角色名称" >
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-custom btn-primary-danger" (click)="c('Close click')">取消</button>
            <button class="btn btn-custom " [ngClass]="(modalConfirmStatus || roleId =='' || roleName =='') ? 'btn-primary-basic':'btn-primary-normal'" [disabled]="modalConfirmStatus || roleId =='' || roleName ==''" (click)="addRole()" >{{ modalConfirmText }}</button>            
        </div>
    </div>
</ng-template>